*{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

#image{
    text-align: center;
    padding-top: 100px;;
}

#box1{

    position:fixed;
    background-image: url("cat.jpg");
    background-size: cover;
    height: 300px;
    width: 200px;
    border-radius: 50px;
    text-align:center;
    right: 0px;
    bottom: 0px;
    
}