h1{
    color: red;
    text-align: center;
    text-decoration:underline;
}

#one{
    color: blue;
}

button{
    color:yellow;
    background-color:black ;
}

body{
    background-color: rgb(255,255,0);;
}
#one{
    text-align: center;
    font-family: arial;
}

#two{
    font-family:cursive;
}